:root {
  --accent: rgb(148, 73, 192);
  --accent-light: #b67cd8;
  --pure-wight: #fff;
  --aqua: aqua;
  --accent2: rgb(67, 28, 158);
  --border: #00008b;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-image: url(https://oir.mobi/uploads/posts/2019-12/thumbs/1575347498_nezhnyj-fon-10.jpg);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Lobster", cursive;
  margin: auto;
  color: var(--accent);
  font-size: 20px;
}
html a:hover {
  color: var(--pure-wight);
  text-shadow: 10px 16px 13px black;
  background-color: aqua;
}
.container {
  width: 1140px;
  border: 1px solid black;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: var(--accent-light);
}
.header a {
  text-decoration: none;
  color: var(--accent2);
  text-transform: uppercase;
}

.header-nav {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  text-shadow: 10px 10px 13px #00008b;
  margin-right: 150px;
  font-size: 35px;
  font-weight: 800px;
  letter-spacing: 3px;
}
.header-logo img {
  width: 100px;
  height: 60px;
  object-fit: contain;
}

.header-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-menu-link {
  display: block;
  font-size: 16px;
  weight: 10px;
  margin: 0 15px;
  font-weight: 600px;
  /* margin-right: 30px; */
}

.intro {
  padding: 60px 0;
}

.intro-inner {
  display: flex;
  /* gap: 35px; */
  justify-content: center;
  align-items: center;
}

.intro-right {
  width: 60%;
}

.intro-left {
  width: 30%;
}

.intro-img {
  width: 250px;
  height: 300px;
  border-radius: 50%;
}

.intro-right h1 .intro-right h3 {
  margin: 0 0 10px;
}
.section {
  padding: 60px 0;
}
.contacts {
  margin-bottom: 60px;
  text-align: center;
}

.contacts a:hover {
  color: var(--pure-wight);
  text-shadow: 10px 10px 13px black;
  background-color: aqua;
}
.contacts ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
  text-align: center;
  gap: 30px;
}

.skills {
  color: var(--accent2);
  background-color: var(--accent-light);
  padding: 50px 0;
  align-items: center;
  text-align: center;
}

.skills ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.skills li {
  padding: 10px 15px;
  background-color: var(--aqua);
  border-radius: 5px;
}

.code-example {
  text-align: center;
}
.code-example p {
  font-style: italic;
}

.code-example b {
  font-style: normal;
}

.code-example pre {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  background-color: aqua;
  font-size: 18px;
  font-style: italic;
  color: var(--border);
  border-radius: 50px 0 50px 0;
  box-shadow: 10px 10px rgb(101, 101, 235);
}
.education {
  color: var(--accent2);
  background-color: var(--accent-light);
  padding: 15px 0;
  align-items: center;
  text-align: center;
}
.footer {
  color: var(--accent2);
  background-color: var(--accent-light);
  padding: 50px 0;

  text-align: left;
}
